.card-content {
  /*background-color: #FEF9E7;*/
  min-height: 240px;
  position: relative;
}

.card, .card-content, .card-header {
  background-image: url("img/2144.jpg");
  font-family: "Covered By Your Grace"
}

.card-header {
  /*background-color: #F9E79F;*/
}

.card-header, .card-content {
  min-width: 150px;
}

.hero {
  margin-bottom: 2rem;
}

.btn-del, .btn-edit {
  position: absolute;
  bottom: 0.5rem
}

.btn-del {
  right: 1rem
}

.btn-edit {
  left: 0.5rem
}

a {
  color: initial
}

#popUp {
  position: absolute;

}
