.container {
  font-size: 2rem;
}

.card-content {
  min-height: 240px;
  position: relative;
}

.card {
  min-width: 150px;
}

.bg-overlay {
  background-color: rgba(255, 255, 255, 0.5)
}

.hero {
  margin-bottom: 2rem;
}

.btn-del, .btn-edit {
  position: absolute;
  bottom: 0.5rem
}

.btn-del {
  right: 1rem
}

.btn-edit {
  left: 0.5rem
}

a {
  color: initial
}

#popUp {
  position: absolute;

}
